.container .representative {
	display: flex;
}

.container .representative .img {
	width: 500px;
	height: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	text-align: center;
}

.container .representative .img img {
	border: 1px solid black;
	width: 500px;
	height: 600px;
	object-fit: contain;
}

.container .representative .detail {
	padding: 30px;
	width: 50%;
	height: 500px;
	margin: 50px;
}

.container .representative .detail .dropdown{
	margin: 40px 0;
	position : relative;
	display : inline-block;
}

.container .representative .detail .dropdown .dropbtn {
	display: flex;
	border: 1px solid rgb(94, 94, 94);
	border-radius: 4px;
	font-weight: 400;
	padding: 8px;
	width: 240px;
	text-align: left;
	cursor: pointer;
	z-index: 1;
	position: relative;
	height: 40px;
	justify-content: space-between;
}

.container .representative .detail .dropdown .dropbtn p {
	font-size : 15px;
}

.container .representative .detail button {
	width: 100%;
	background: black;
	color: white;
	border: 2px solid white;
	padding: 5px 10px;
	font-size: 20px;
	transition: .5s ease;
}

.container .representative .detail button:hover {
	transition: .5s ease;
	border: 2px solid black;
	background: transparent;
	color: black;
}

.container .detailed {
	text-align: center;
}

.container .detailed img{
	width: 75%;
	margin-top: 10px;
	margin-bottom: 10px;
}